body{ background-color: #d0d5d9; }
p{ margin-top: 1rem; }

.start,
.questions,
.result
{
    margin : 0 auto;
    padding : 25px;
    min-width: 400px;
    background-color : #fff;
    text-align: center;
}

#bg
{
    margin: 0 auto;
    display: block;
    width: auto;
    height: 200px;
}

#logo
{
    display: block;
    width: 400px;
}

.questions{text-align: left;}
input[type=radio]{ margin-right: 10px; }
#submit{margin-top: 15px;}
